$prefixCls: 'page-user-detail';

.#{$prefixCls} {
  &-main {
    margin-bottom: 80px;

    .main-btn-quit {
      height: 90px;
      line-height: 90px;
      color: $error;
      font-size: 30px;
    }
  }

  .#{$globalPrefixCls}-btn-bottom {
    position: inherit !important;
    margin: 0 30px;
    height: 90px;
    line-height: 90px;
    border-radius: 6px;
  }
}
