{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"airbnb",
		"prettier"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"parser": "babel-eslint",
	"plugins": [
		"import",
		"react",
		"jsx-a11y",
		"babel"
	],
	"rules": {
		"linebreak-style": [
			"error",
			"unix"
		],
		"semi": [
			"error",
			"never"
		],
		"comma-dangle": [
			"error",
			"always-multiline"
		],
		"quotes": [
			"error",
			"single"
		],
		"no-unused-vars": [
			2,
			{
				"args": "after-used"
			}
		],
		"no-use-before-define": [
			"error",
			{
				"functions": false,
				"classes": false
			}
		],
		"no-console": "off",
		"consistent-return": "off",
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"import/no-unresolved": "off"
	}
}
