@color: #5ab4e3;

.h2 {
  color: blue;
}

.name {
  color: @color;
}

.test {
  background: #000;
  color: #000;
}

.ruiwen {
  width: 300px;
  height: 300px;
  background-position: center;
  transform: translateX(100px);
  background-size: 300px 300px;
  background-image: url(../../assets/images/ruiwen.gif)
}
