$prefixCls: 'component-single-qst-todo';

.#{$globalPrefixCls}-qst-todo {
  &-header {
    display: flex;
    height: 88px;
    align-items: center;
    padding: 0 30px;

    .header-tag {
      padding: 4px 10px;
      margin-right: 10px;
      font-size: 20px;
      color: $blue;
      background: rgba(46, 97, 200, 0.1);
      border-radius: 6px;
      text-align: center;
    }

    .header-title {
      flex: 1;
      // max-width: 450px;
      font-size: 30px;
      color: $title;

      &.required {
        position: relative;

        &:before {
          content: '*';
          position: relative;
          display: inline-block;
          top: 9px;
          line-height: 1;
          padding-right: 8px;
          font-size: 40px;
          color: $error;
        }
      }
    }

    .header-disabled {
      // flex: 1;
      margin-left: 10px;
      text-align: right;
      font-size: 24px;
      color: $nav;
    }
  }
}

.#{$prefixCls} {
  background: #fff;

  .option-item {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    height: 80px;
    text-align: initial;
    font-size: 28px;
    color: $title;

    &-icon {
      width: 40px;
      height: 40px;
      margin-right: 24px;
      border: 1px solid $border;
      border-radius: 50%;

      &::before {
        position: relative;
        left: 11px;
        color: $nav;
      }

      &.checked {
        border-color: rgba(255, 177, 66, 0.5);
        background: $warning;

        &::before {
          color: #fff;
        }

        &.judge {
          border-color: rgba(45, 190, 138, 0.5);
          background: $info;

          &::before {
            content: '✔';
            left: 9px;
          }
        }

        &.vote {
          border-color: rgba(244, 53, 48, 0.5);
          background: $error;

          &::before {
            content: '♥';
            left: 6.5px;
            top: 2px;
          }
        }
      }

      &.multiple {
        width: 38px;
        height: 38px;
        border-radius: 0;

        &::before {
          left: 10px;
          top: -1px;
        }
      }
    }

    // input[type='radio'] + label:before {
    //   content: '';
    //   position: relative;
    //   display: inline-block;
    //   width: 100%;
    //   height: 100%;
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: 100%;
    //   background-image: url(../../assets/images/unchecked.svg);
    // }

    // input[type='radio']:checked + label:before {
    //   background-image: url(../../assets/images/checked.svg);
    // }

    &-text {
      flex: 1;
    }
  }
}
