$prefixCls: 'page-message';

.#{$prefixCls} {
  position: relative;
  height: calc(100vh - 114px);

  &-header {
    display: flex;
    padding: 10px 0 20px;
    margin: 0 30px;

    .applies {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      margin-right: 20px;
      padding: 5px 10px;
      border-radius: 6px;

      &:active {
        background: #eee;
      }

      &-info {
        font-size: 26px;
        color: $nav;
      }

      &-count {
        padding: 12px 18px 10px;
        line-height: 1;
        font-size: 24px;
        color: $blue;
        background: rgba(46, 97, 200, 0.1);
        border-radius: 10px;
        text-align: center;
      }
    }

    .add {
      width: 60px;
      height: 60px;
      background-image: url(../../assets/images/add.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      transition: transform 0.6s ease;

      &:active {
        transform: rotate(360deg);
      }
    }
  }

  &-lists {
    margin-bottom: 15px;
    padding: 0 30px;
  }
}
