$prefixCls: 'page-create-extra';

.#{$prefixCls} {
  &-main {
    .content-text {
      font-size: 30px;
      margin-bottom: 20px;
      color: $nav;
    }

    .content-title {
      // padding-bottom: 20px;

      .am-input-item {
        height: 80px;
        line-height: 80px;
        padding: 0 20px;
        @include border-mixin(0, bottom);

        .am-list-line {
          padding-right: 0;

          .am-input-label {
            width: auto;
            line-height: 1;
            color: $nav;
            font-size: 30px;
          }

          .am-input-control {
            padding-top: 10px;

            input {
              text-align: right;
              font-size: 30px;
            }
          }
        }
      }
    }

    .page-create-header {

      // margin-bottom: 20px;
      .header-title {
        color: $nav;
      }

      .am-switch-checkbox {
        &:checked+.checkbox {
          background: $blue !important;
        }
      }
    }
  }

}
