$prefixCls: 'page-create-extra';

.#{$prefixCls} {
  &-main {
    .content-text {
      font-size: 30px;
      margin-bottom: 20px;
      color: $nav;
    }

    .content-title {
      // padding-bottom: 20px;

      .#{$globalPrefixCls}-input-item {
        height: 80px !important;
        line-height: 80px;
      }
    }

    .page-create-header {
      padding-left: 30px;
      padding-right: 30px;

      .header-title {
        color: $nav;
      }

      .am-switch-checkbox {
        &:checked + .checkbox {
          background: $blue !important;
        }
      }
    }
  }
}
