$prefixCls: 'component-single';

.#{$prefixCls} {}

.#{$globalPrefixCls}-question {
  position: relative;
  color: #bfbfbf;

  &-header {
    display: flex;
    height: 88px;
    // padding: 0 30px;
    padding-right: 30px;
    align-items: center;
    border-bottom: 1px solid $border;
    background: #fff;

    .header-title {
      flex: 1;

      &-toggle {
        padding: 20px;
      }

      &-text {
        font-size: 34px;
        color: #353535;
      }

      &-type {
        font-size: 26px;
      }
    }

    // .am-switch {
    //   input {
    //     &:checked+.checkbox {
    //       background: $blue;
    //     }

    //     &:checked+.checkbox:after {
    //       transform: translateX(41px);
    //     }
    //   }

    //   .checkbox {
    //     width: 82px;
    //     height: 40px;

    //     &:before {
    //       width: 78px;
    //       height: 36px;
    //     }

    //     &:after {
    //       width: 36px;
    //       height: 36px;
    //     }
    //   }
    // }

    .header-required {
      position: relative;
      margin: 2px 22px 0 16px;
      font-size: 30px;

      &:after {
        position: absolute;
        content: '';
        right: -22px;
        width: 1px;
        height: 100%;
        background: $border;
      }
    }

    .header-remove {
      margin-left: 24px;
    }
  }

  &-content {
    padding: 20px 30px 0;
    background: #fff;

    .content-text {
      font-size: 30px;
      margin-bottom: 20px;
      color: $nav;
    }

    .content-title {
      padding-bottom: 50px;

      .am-input-item {
        height: 60px;
        line-height: 60px;
        padding: 0 25px;
        border: 1px solid $border;
        border-radius: 5px;

        .am-list-line {
          padding-right: 0;
          padding-top: 10px;

          input {
            font-size: 30px;
          }
        }
      }
    }

    .content-options {
      .option-wrapper {
        display: flex;
        align-items: center;
        border-top: 1px solid $border;

        .option-add,
        .option-remove,
        .option-warn {
          margin-right: 20px;
        }

        .option-add {
          &::before {
            color: $blue;

          }
        }

        .option-remove {
          &::before {
            color: $error;

          }
        }

        .option-warn {
          &::before {
            color: $info2;

          }
        }

        .am-textarea-item {
          flex: 1;
          padding-left: 0;

          .am-textarea-control {
            padding: 0;
            padding-top: 3px;

            textarea {
              min-height: 50px;
              max-height: 60px;
              line-height: 40px;
              padding-top: 18px;
              font-size: 30px;
            }
          }
        }

        &.add {
          padding: 10px 0;

          textarea {
            padding-top: 7px !important;
            color: $blue;
          }
        }
      }
    }
  }
}
