.#{$globalPrefixCls}-hidden {
  display: none !important;
}

.#{$globalPrefixCls}-border-1px {
  @include border-mixin(1px);
}

$borderList: top bottom right;

.#{$globalPrefixCls}-border-1px {
  @include border-mixin(2px);
}

@each $b in $borderList {
  .#{$globalPrefixCls}-border-1px-#{$b} {
    @include border-mixin(0, $b);
  }
}

.#{$globalPrefixCls} .am-switch,
.page-modal .am-switch {
  &-checkbox {
    &:checked + .checkbox {
      background: $blue !important;
    }

    &:checked + .checkbox:after {
      transform: translateX(42px) !important;
    }
  }

  .checkbox {
    width: 82px;
    height: 40px;

    &:before {
      width: 78px;
      height: 36px;
    }

    &:after {
      width: 37px;
      height: 37px;
    }
  }
}

// portal
.#{$globalPrefixCls}-action-sheet {
  .am-action-sheet-message {
    margin: 30px 0;
    font-size: 30px;
    color: $main;
  }

  .am-action-sheet-button-list {
    &-item {
      height: 88px;
      line-height: 88px;
      font-size: 30px;
    }
  }
}

// portal
.am-toast {
  &-text {
    min-width: 360px !important;
    padding: 15px 10px 20px !important;

    .am-icon {
      width: 70px;
      height: 70px;
      padding: 20px 0 5px;
    }

    &-info {
      font-size: 26px;
    }
  }
}

// portal
.#{$globalPrefixCls}-modal {
  width: 525px !important;

  .am-modal-content {
    .am-modal-body {
      padding: 0 20px 15px;

      .qa-modal-img {
        width: 100%;
        margin: 15px 0 20px;
        text-align: center;

        img {
          width: 144px;
          height: 144px;
        }
      }

      .qa-modal-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 34px;
        color: $title;
      }
    }

    .qa-modal-content {
      font-size: 30px;
      color: $nav;
    }

    .am-modal-footer {
      height: 88px;

      .am-modal-button {
        height: 88px;
        line-height: 88px;
        font-size: 30px;
        color: $blue;
      }
    }
  }
}

.#{$globalPrefixCls}-image-picker {
  .am-image-picker-list {
    padding: 0;
    margin: 0;
    background: #fff;

    .am-flexbox {
      margin: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .am-flexbox-item {
        width: 116px;
        /* height: 116px; */

        .am-image-picker-item {
          &:before {
            width: 4px;
            height: 56px;
          }

          &:after {
            width: 56px;
            height: 4px;
          }

          &-remove {
            width: 30px;
            height: 30px;
            background-size: 100%;
          }
        }
      }
    }
  }
}

.#{$globalPrefixCls}-img-modal {
  width: inherit;

  .am-modal-content {
    padding-top: 0;
    background: transparent;

    .am-modal-body {
      padding: 0;

      img {
        // width: 600px;
      }
    }
  }
}

.#{$globalPrefixCls} .am-search {
  height: 95px;
  padding: 0 20px;
  background: inherit;

  &-input {
    height: 70px;

    .am-search-synthetic-ph {
      height: inherit;
      line-height: 70px;

      &-icon {
        width: 35px;
        height: 35px;
        vertical-align: -7px;
        background-size: 100%;
      }

      &-placeholder {
        font-size: 32px;
      }
    }

    .am-search-value {
      height: inherit;
      padding-left: 57px !important;
      font-size: 30px;
    }

    .am-search-clear {
      width: 38px;
      height: 38px;
      padding: 0;
      top: 16px;
      right: 10px;
      background-size: 100%;
      border-radius: 0;
    }
  }

  &-cancel {
    padding-left: 20px;
    font-size: 30px;
  }
}

.#{$globalPrefixCls}-btn-bottom {
  position: fixed !important;
  height: 95px;
  line-height: 95px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  background: $blue;
  font-size: 34px;
  z-index: 1;

  .btn-bottom-icon {
    position: relative;
    // top: 4.5px;
    left: 12px;
    top: 5px;
    font-size: 1.5em;
  }

  .am-button-icon {
    width: 36px;
    height: 36px;
    margin-right: 20px;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 2; */
  /* -webkit-box-orient: vertical; */
}

.#{$globalPrefixCls}-input-item {
  height: 60px !important;
  line-height: 60px;
  // padding: 0 30px !important;
  padding: 0 30px 0 25px !important;
  @include border-mixin(0, bottom);

  &.text-right {
    input {
      text-align: right;
    }
  }

  .am-list-line {
    padding-right: 0;

    .am-input-label {
      display: flex;
      width: auto;
      align-items: center;
      line-height: 1;
      margin-right: 10px;
      color: $nav;
      font-size: 30px;

      i {
        width: 64px;
        text-align: center;
        font-size: 1.7em;
        color: rgba(127, 131, 137, 0.8);
      }

      span {
        margin-left: 10px;
      }

      img {
        // position: relative;
        // right: 5px;
        width: 64px;
        height: 64px;
      }

      .warning {
        color: rgba(255, 177, 66, 0.8);
      }

      .info {
        color: rgba(45, 190, 138, 0.8);
      }

      .blue {
        color: rgba(46, 97, 200, 0.8);
      }

      .error {
        color: rgba(244, 53, 48, 0.8);
      }

      .fa-paper-plane-o {
        font-size: 1.6em;
      }

      .fa-user-o,
      .fa-smile-o {
        font-size: 1.8em;
      }

      .fa-male {
        font-size: 2.2em;
      }

      .fa-mobile {
        font-size: 2.6em;
      }
    }

    .am-input-control {
      padding-top: 10px;

      input {
        font-size: 30px;
      }
    }

    .am-input-extra {
      max-height: initial;
    }

    .am-input-error-extra {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      background-size: 100%;
    }
  }
}
