$globalPrefixCls: 'qa';

// background color

$blue: #2e61c8;

$background: #efeff4;

$background2: #f5f5f9;

$info: #2dbe8a;

$warning: #ffb142;

$error: #f43530;

$border: #d6d6db;

$bg-tag: #ecf3fc;

// fonts color

$title: #353535;

$nav: #7f8389;

$main: #a9a9a9;

$small: #bfbfbf;

@mixin border-mixin($size: 0, $border: null, $borderColor: #d6d6db) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border: $size solid $borderColor;
    border-radius: 5px;
    transform: scale(0.5, 0.5);
    transform-origin: left top;
    @if $border {
      border-#{$border}-width: 2px;
    }
    color: $borderColor;
    pointer-events: none; /* 防止点击触发 */

    @media screen and (min-device-pixel-ratio:3) {
      width: 300%;
      height: 300%;
      transform: scale(.33);
    }
  }
}

@mixin border-3Of4-mixin($size: 0, $border: null, $borderColor: #d6d6db) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 140%;
    left: 0;
    top: 15%;
    box-sizing: border-box;
    border: $size solid $borderColor;
    border-radius: 5px;
    transform: scale(0.5, 0.5);
    transform-origin: left top;
    @if $border {
      border-#{$border}-width: 2px;
    }
    color: $borderColor;
    pointer-events: none; /* 防止点击触发 */

    @media screen and (min-device-pixel-ratio:3) {
      width: 300%;
      height: 300%;
      transform: scale(.33);
    }
  }
}
