$prefixCls: 'page-login';

.#{$prefixCls} {
}

.#{$globalPrefixCls}-login {
  height: 100vh;
  // background: #fff;
  padding: 0 30px 0;

  &-header {
    padding: 200px 0 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: $title;
  }

  &-main {
    .#{$globalPrefixCls}-input-item {
      height: 90px !important;
      line-height: 90px;
      margin-bottom: 25px;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 0 5px;

    .btn-login {
      padding: 0 10px;
      height: 45px;
      line-height: 45px;
      font-size: 26px;
      color: $nav;
      background: inherit;

      &::before {
        display: none;
      }

      &-active,
      &:active {
        background: $background;
      }

      .icon {
        position: relative;
        margin: 0 8px;
        font-size: 1.5em;
        top: 3px;
      }
    }
  }

  .#{$globalPrefixCls}-btn-bottom {
    position: inherit !important;
    height: 90px;
    line-height: 90px;
    border-radius: 6px;
  }
}
